<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Board Create Page</title>
    <link rel="stylesheet" href="/css/mainPageStyle.css">

</head>
<body>
<div id="Wrap">

    <div id="HighSection">
        <div id="Logo" class="inlineBlock">
            <a href="/">
                <p>2024 Winter Project</p>
            </a>
        </div>

        <div class="ClassUserSection" sec:authorize="isAnonymous()" id="loginBtn" onclick="goToLogin()">
            Login
        </div>

        <div id="IdUserSection" sec:authorize="isAuthenticated()">
            <div class="ClassUserSection inlineBlock" th:text="${username}"></div>
            <div class="ClassUserSection inlineBlock" id="logoutBtn" onclick="goToLogout()">
                Logout
            </div>
        </div>
    </div>

    <div id="manageMentSection" class="inlineBlock">
        <div id="inputSection">
            <div id="BoardCreateSection">
                게시판 생성
                <form action="/BoardManagement/BoardCreateFunction" method="post">
                    <label>
                        게시판 이름 <input type="text" name="boardName">
                    </label>

                    <label>
                        게시판 설명 <input type="text" name="boardDescription">
                    </label>

                    <input type="submit" value="생성">
                </form>
            </div>
        </div>

        <div id="removeSection">
            게시판 삭제
            <form action="/BoardManagement/BoardRemoveFunction" method="post">
                <label th:each="board : ${boards}">
                    <input type="checkbox" name="boardIds" th:value="${board.boardId}">
                    <span th:text="${board.boardName}"></span>
                </label>

                <input type="submit" value="삭제">
            </form>
        </div>
    </div>

</div>
<script src="/javascript/script.js"></script>
</body>
</html>