<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${board.boardName}">Board Content</title>
    <link rel="stylesheet" href="/css/mainPageStyle.css">
</head>
<body>
    tset
    <ul th:if="${#lists.isEmpty(posts)}">
        <p th:text="${message}"></p>
    </ul>
    <ul th:unless="${#lists.isEmpty(posts)}">
        <li th:each="post : #{posts}">
            <a th:href="|/PostPage/${post.postId}|" th:text="${post.title}">게시글 제목</a>
        </li>
        test
    </ul>
</body>
</html>