<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Page</title>
    <link rel="stylesheet" href="/css/mainPageStyle.css">
</head>
<body>
<div id="Wrap">

    <div id="HighSection">
        <div id="Logo" class="inlineBlock">
            <a href="/">
                <p>2024 Winter Project</p>
            </a>
        </div>

        <div class="ClassUserSection" sec:authorize="isAnonymous()" id="loginBtn" onclick="goToLogin()">
            Login
        </div>

        <div id="IdUserSection" sec:authorize="isAuthenticated()">
            <div class="ClassUserSection inlineBlock" th:text="${username}"></div>
            <div class="ClassUserSection inlineBlock" id="logoutBtn" onclick="goToLogout()">
                Logout
            </div>
        </div>
    </div>

    <div id="LeftSection">
        <ul>
            <li th:each="board : ${boards}">
                <a th:onclick="|moveIframe('/BoardPostPage/${board.boardId}')|" th:text="${board.boardName}"></a>
            </li>
        </ul>
    </div>

    <div id="RightSection">
        <iframe style="border:none" id="boardIframe" src="" width="1000px" height="1000px"></iframe>
    </div>

    <div id="btnSection" class="inlineBlock">
        <input type="button" value="게시판 관리" id="boardManagement" onclick="goToBoardManagement()">
    </div>

</div>

<script src="/javascript/script.js"></script>
</body>
</html>