<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Page</title>
</head>
<body>
    <div id="Wrap">
        
        <div id="HighSection">
            <div id="Logo" class="inlineBlock">
                <a href="/">
                    <p>2024 Winter Project</p>
                </a>
            </div>
            <div id="loginBtnSection" class="inlineBlock">
                <div id="loginBtn" onclick="goToLogin()">
                    Login
                </div>
            </div>
        </div>

        

    </div>
</body>
</html>