<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지입니다</title>
    <link rel="stylesheet" href="mainPageStyle.css">
</head>
<body>

    <div id="mainSection">
        <div id="Logo">
            <p>2024 Winter Project</p>
        </div>

        <div id="list">
            <ul>
                <li><a href="/test">게시판</a></li>
                <li><a href="#">채팅 방</a></li>
            </ul>
        </div>
    </div>
</body>
</html>