<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Page</title>
    <link rel="stylesheet" href="../static/css/mainPageStyle.css">
</head>
<body>
    <div id="Wrap">
        
        <div id="HighSection">
            <div id="Logo" class="inlineBlock">
                <a href="/">
                    <p>2024 Winter Project</p>
                </a>
            </div>
            <div id="loginBtnSection" class="inlineBlock">
                <div id="loginBtn" onclick="goToLogin()">
                    Login
                </div>
            </div>
        </div>

        <div id="BoardListSection">
            test
        </div>

        <div id="PostListSection">
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회</th>
                    </tr>
                </thead>
                <tbody>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
            </tbody>
            </table>


        </div>

    </div>
</body>
</html>