<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post Content Page</title>
    <link rel="stylesheet" href="/css/mainPageStyle.css">
</head>
<body>

    <div>
        <div id="postTitleSection" th:text="${post.title}">post title section</div>
        <div id="postContentSection" th:text="${post.content}">post content section</div>

        <div id="postBtnSection">
            <button type="button" th:onclick="|goToCreatePost(${post.boardIdFP.boardId})|">게시글 작성</button>
            <div th:if="${post.userIdFP.userId == username}">
                <button type="button" th:onclick="|goToPostModify(${post.boardIdFP.boardId}, ${post.postId})|">수정</button>
                <button type="button" th:onclick="|goToPostDelete(${post.boardIdFP.boardId}, ${post.postId})|">삭제</button>
            </div>
        </div>

        <div id="commentSection">
            <!-- 댓글 작성 창-->
            <div>
                <form action="/CreateCommentFunction" method="post">
                    <input type="hidden" name="postId" th:value="${post.postId}">
                    <input type="hidden" name="referer" th:value="${referer}">
                    <textarea id="commentTextarea" name="content" cols="100" rows="10" placeholder="댓글을 작성 해 주세요!"></textarea>
                    <button type="submit">작성</button>
                </form>
            </div>

            <!-- 이미 달린 댓글들 보는 곳-->
            <div>
                <ul>
                    <li th:each="comment : ${comments}">
                        <span th:text="${comment.content}">댓글</span>
                        <span th:onclick="|goToCommentRemove(${comment.commentId}, ${post.boardIdFP.boardId}, ${post.postId})|">x</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>

<script src="/javascript/script.js"></script>
</body>
</html>