<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <link rel="stylesheet" href="css/mainStyle.css">
</head>
<body>
    <div id="registerSection">
        <div>
            Register
        </div>

        <form>
            <label>
                이름 <input type="text" id="name">
            </label>
            <label>
                이메일 <input type="email" id="email" pattern="^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" placeholder="example@gmail.com">
            </label>
            <label>
                ID <input type="text" id="ID">
            </label>
            <label>
                Password <input type="password" id="Password">
            </label>

            <input type="submit" value="회원가입">
        </form>
    </div>
</body>
</html>